
{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Price: ${{ product.price }}</p>
            <!-- Add more fields as needed -->
            <form action="{% url 'products:product_details' pk=product.pk %}" method="get">
              <button type="submit" class="btn btn-primary">View Details</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  
{% endblock %}
