<!-- templates/registration/register.html -->
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Register</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.email.label_tag }} {{ form.email }}
                            <br>
                            {{ form.first_name.label_tag }} {{ form.first_name }}
                            <br>
                            {{ form.last_name.label_tag }} {{ form.last_name }}
                            <br>
                            {{ form.password.label_tag }} {{ form.password }}
                            <br>
                            {{ form.confirm_password.label_tag }} {{ form.confirm_password }}
                            <br><br>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
